body {
  font-family: Arial, sans-serif;
  /* background-image: url('./images for project/pexels-lilartsy-1213447.jpg'); */
  background: linear-gradient(to left, #253744, #e0ddd8);
  background-size: cover;
  color: #2537448a;
  background-attachment: fixed;
  color: black;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  text-align: center;
  color: #3d3d3d;
  margin-top: 30px;
  font-size: 2em;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

input::placeholder {
  color: black; 
}

#quiz-form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  margin: 40px auto;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  transition: box-shadow 0.3s;
}

#quiz-form:hover {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
}

#quiz-form label {
  margin-bottom: 5px;
  font-size: 1.2em;
}

#quiz-form input[type="number"],
#quiz-form input[type="text"],
#quiz-form select {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  color: black;
  font-size: 1em;
  transition: background-color 0.3s, transform 0.3s;
}

#quiz-form input[type="number"]:focus,
#quiz-form input[type="text"]:focus,
#quiz-form select:focus {
  background-color: rgba(255, 255, 255, 0.3);
  outline: none;
  transform: scale(1.05);
}

#quiz-form input[type="number"],
#quiz-form input[type="text"]{
  width: 476px;
  height: 30px;
}

#quiz-form button[type="submit"],
#submit-quiz {
  width: 50%;
  height: 45px;
  background: linear-gradient(135deg, #585858, #3d3d3d29);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  margin-left: 25%;
  max-width: 300px;
}

#quiz-form button[type="submit"]:hover,
#submit-quiz:hover {
  background: linear-gradient(135deg,#3d3d3d29, #585858);
  transform: scale(1.05);
}

#quiz-container {
  font-size: large;
  max-width: 800px;
  width: 100%;
  margin-top: 30px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
  color: #e6f7ff;
}

#score {
  text-align: center;
  font-size: 1.2em;
  margin-top: 20px;
  color: white;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 5px;
  padding: 15px;
}
